<form (ngSubmit)="onFormSubmit()" class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      [(ngModel)]="password"
      name="password"
      matInput
      [type]="hide ? 'password' : 'text'"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input
      [(ngModel)]="confirmPassword"
      matInput
      [type]="hide ? 'password' : 'text'"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
