<section class="posts-area">
  <article class="post">
    <div class="post-top">
      <div>
        <div class="image pointer">
          <img
            routerLink="/profile/{{ post.author._id }}"
            [src]="post.author.profilePic"
            width="40px"
            height="40px"
          />
        </div>
        <p routerLink="/profile/{{ post.author._id }}" class="pointer">
          {{ post.author.username }}
        </p>
      </div>

      <button
        *ngIf="userData._id === post.author._id"
        mat-button
        [matMenuTriggerFor]="postMenu"
      >
        <i class="fa-solid fa-ellipsis-vertical three-dots"></i>
      </button>
      <mat-menu #postMenu="matMenu">
        <button (click)="onPostUpdateBtnClick(post._id)" mat-menu-item>
          Update
        </button>
        <button (click)="onPostDeleteBtnClick(post._id)" mat-menu-item>
          Delete
        </button>
      </mat-menu>
    </div>
    <div class="post-middle">
      <p>{{ post.content }}</p>
      <img
        routerLink="/post/{{ post._id }}"
        *ngIf="post.image"
        class="post-image pointer"
        [src]="post.image"
      />
    </div>
    <div class="post-bottom">
      <div class="post-actions">
        <span>{{ post.likes.length }}</span>
        <i
          *ngIf="post.likes.includes(userData._id)"
          (click)="onUnlike(post._id)"
          class="fa-solid fa-heart post-action pointer"
        ></i>
        <i
          *ngIf="!post.likes.includes(userData._id)"
          (click)="onLike(post._id)"
          class="fa-regular fa-heart post-action pointer"
        ></i>
        <i
          (click)="onCommentBtnClick(commentsBox)"
          class="fa-regular fa-comment post-action pointer"
        ></i>
      </div>
      <div #commentsBox class="comments-box">
        <div *ngFor="let comment of post.comments; let commentIndex = index">
          <mat-divider></mat-divider>
          <div class="comment">
            <div>
              <div class="image pointer">
                <img
                  [src]="comment.author.profilePic"
                  width="40px"
                  height="40px"
                />
              </div>
              <p>{{ comment.author.username }}</p>
            </div>
            <button
              *ngIf="comment.author._id === userData._id"
              mat-button
              [matMenuTriggerFor]="commentMenu"
            >
              <i class="fa-solid fa-ellipsis-vertical three-dots"></i>
            </button>
            <mat-menu #commentMenu="matMenu">
              <button
                (click)="onCommentDelete(comment._id, commentIndex)"
                mat-menu-item
              >
                Delete
              </button>
            </mat-menu>
          </div>
          <p>{{ comment.content }}</p>
        </div>
        <div class="comment-input-box">
          <textarea
            #commentInp
            (input)="onInp(commentInp)"
            cols="30"
            rows="1"
            class="comment-input"
            placeholder="Add a comment..."
          ></textarea>
          <button
            (click)="onPostCommentBtnClick(commentInp, post._id)"
            class="comment-btn"
            [disabled]="commentInp.value == ''"
          >
            Comment
          </button>
        </div>
      </div>
    </div>
  </article>
</section>
