mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
}

.pointer {
  cursor: pointer;
}
