section {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

article {
  border-radius: 5px;
  padding: 10px;
  color: black;
  background-color: rgb(243, 235, 219);
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

i {
  font-size: 1.5rem;
  cursor: pointer;
}

.image {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
}

.pointer {
  cursor: pointer;
}
